<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SortViz</title>
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <script src="/static/scripts/scripts.js" defer></script>
</head>
<body>
    <h1>Sorting Visualizer</h1>
    <button hx-get="/sort" hx-trigger="click" hx-target="#visualizer">Start Sorting</button>

    <div id="visualizer"></div>
</body>
</html>
