html {
    height: auto;
    width: auto;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-top: 50px;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

button {
    padding: 12px 24px;
    font-size: 18px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

.bar {
    width: 20px;
    margin: 1px;
    background-color: #007BFF;
    transition: height 0.5s, transform 0.5s ease-in-out;
    border-radius: 2px;
    width : calc(100% / 40);
    font-size: 0.7rem;
    text-Align :center;
    font-Weight : bold;
    color: #1e1e1e
}

.container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 250px;
    background-color: #262626;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
    font-size: 20px;
}

.control-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 20px;
    margin: 10px 0;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
}

.control-button i {
    margin-right: 10px;
}

.control-button:hover {
    background-color: #45a049;
}

.speed-control,
.algorithm-select {
    margin: 20px 0;
}

.speed-control label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.algorithm-select {
    width: 100%;
    margin: 0 auto;
}

.algorithm-select select {
    width: 100%;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #1f1f1f;
    color: #eee;
    appearance: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
}

.algorithm-select select option {
    background-color: #1f1f1f;
    color: #eee;
    text-align: center;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

#visualizer {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 400px;
    width: 800px;
    border: 5px solid #333;
    background-color: #1e1e1e;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow: hidden;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: #262626;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    position: relative;
    color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    overflow: auto;
    text-align: left;
}

.close-btn {
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
}

pre, code {
    background-color: #1e1e1e;
    color: #28a745;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    font-family: monospace;
    font-size: 14px;
    white-space: pre;
    margin: 0;
}

pre {
    margin-top: 10px;
    border: 1px solid #444;
    padding: 15px;
    line-height: 1.5;
    max-height: 400px;
    overflow-y: auto;
    text-align: left;
}
